#dog{
    
    display: flex;
    justify-content: center;
    
}


    .grid {
        display: flex;   /* <--- required */
    }

    .column {
         /* <--- required (style column to fill the same space as the other columns) */
    }

    .row {
        
        background: gold;
        text-align: center;
     border: 1px solid red;
        width: 40px;
        height: 40px;
    }
