
#dog{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
 
    
}
    .grid {
        display: grid;
        max-width: 500px;
  min-width: 500px;
  max-height: 500px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  border-radius: 10px ;
    }
    .row {  
        display: flex;
        height: 100%;
        width: 100%;
        border: 1px solid black; 
      }
    
    .column{
        
    }
    .btn{
        align-self:start ;
        font-size: 20px;
    }
   
    .heading{
        display: flex;
        height: 80px;
        background-color: rgb(129, 38, 38);
        width: 80%;
        justify-content: center;
        border-radius: 4px;
    }